html,
body {
  height: 100%;
}
body {
  font-size: .875rem;
}
.main-header .navbar-brand {
  width: 180px;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}
.main-header .navbar-nav {
  flex-direction: row !important;
}
.main-body {
  height: 100%;
}
.main-content {
  height: 100%;
  padding-left: 195px;
  padding-top: 65px;
  padding-right: 15px;
}
.main-content.has-submodule {
  padding-left: 345px;
}
.main-sidebar,
.main-sub-sidebar {
  padding-top: 48px;
}
.main-sidebar {
  width: 180px;
  background: #343a40;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
.main-sidebar .nav .nav-item .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-sidebar .nav .nav-item.active .nav-link {
  background-color: #007bff;
}
.main-sidebar .nav .nav-item.collapsed {
  border-left: 5px solid transparent;
}
.main-sidebar .nav-item {
  display: block;
}
.main-sidebar .nav-link {
  font-weight: 500;
  color: #f8f9fa;
}
.main-sidebar .nav-link:hover .feather,
.main-sidebar .nav-link.active .feather {
  color: inherit;
}
.main-sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
.main-sidebar .sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.main-sub-sidebar {
  width: 150px;
  background: #e9ecef;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 180px;
}
.main-sub-sidebar .header {
  padding: .5rem 1rem;
  color: #6c757d;
  border-bottom: 1px solid #ddd;
  margin-top: .75rem;
  font-size: .75rem;
}
.main-sub-sidebar .nav-item.active .nav-link {
  color: #007bff !important;
}
.main-sub-sidebar .nav-item .nav-link {
  color: #6c757d !important;
}
.main-login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.has-error .help-block {
  color: red;
}
.file-manager tr > td {
  height: 40px;
  line-height: 40px;
  padding: 0!important;
}
.file-manager tr > td.icon {
  width: 50px;
  text-align: center;
}
.file-manager tr > td.icon .fa {
  line-height: 40px;
  font-size: 20px;
}
